.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas: 
  "logo   main    main    main"
  "lbar   main    main    main"
  "lbar   main    main    main"
  "footer  footer  footer  footer";
  padding: 5px;
}

.logo {
  grid-area: logo;
  margin: 20px;
  padding-bottom: 10px;

}

.logo h1, .logo h2 {
  font-weight: 300;
}

.logo h1 {
  font-size: 4.4rem;
}

.logo h2 {
  margin-top: -20px;
  margin-left: 6px;
  font-size: 1.5rem;
}

.leftSideBar {
  grid-area: lbar;
}

.container main {
  grid-area: main;
  margin: 50px 20px;
  margin-bottom: 50px;
}

.container main h1 {
  background-color: #AFE2B9;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 3px;
  font-size: 2rem;
}

.container main h2 {
  font-size: 1.75rem;
  margin-top: 10px;
}

.container main ul {
  padding-left: 2rem;
}

.container main p {
  padding-bottom: 1rem;
}

.container footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  border-top: 1px solid;
  border-color: rgba(39, 62, 91, 0.5);
  padding: 15px;
  margin: 10px;
}

.footer div {
  margin: 10px;
}

.footer a {
  text-decoration: none;
  color: #237594;
}

.footer a:visited {
  color: #237594;
}

.footer a:hover, .footer a:active {
  color: #B80AAD;
}
